body{
    background-color: black;
}

p{
    color: white;
}

#campo_nome{
    left:95px;
    top:23px;
    width: 225px;
}

.area{
    position: relative;
    left:37%;
    top:29%;
    width:320px;
    height: 270px;
    color: white;
}

/* Estilos para telas grandes */
.area {
    width: 320px;
    height: 270px;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .area {
        width: 80%;
        margin: 0 auto;
    }
}